<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="#{title}"></title>
<style>
.error {
	color: red;
}
</style>
</head>
<body>
	<div align="center">
		<h1 th:text="#{settings.headline}"></h1>
		<form action="#" th:action="@{/settings}" method="post"
			th:object="${settings}">

			<table>
				<tr>
					<td><label th:text="#{settings.language}"></label></td>
					<td><select th:field="*{language}">
							<option th:each="locale : ${locales}"
								th:value="${locale.language}"
								th:utext="${locale.displayLanguage}"></option>
					</select></td>
				</tr>
				<tr>
					<td><label th:text="#{settings.scriptLanguage}"></label></td>
					<td><select th:field="*{scriptLanguage}">
							<option th:each="language : ${scriptLanguages}"
								th:value="${language}" th:utext="${language}"></option>
					</select></td>

				</tr>
				<tr>
					<th colspan="2">
						<button type="submit" th:text="#{settings.save}"></button>
					</th>
				</tr>
			</table>

		</form>

		<p>
			<a th:text="#{numerical-solution}" href="/solve"></a>
		</p>
		<p>
			<a th:text="#{analytical-solution}" href="/function"></a>
		</p>
	</div>
</body>
</html>
