<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Registration</title>
<style>
    .error {
        color: red;
    }
</style>
</head>
<body>
	<div align="center">
		<h1>User Registration</h1>
		<form action="#" th:action="@{/solve}" method="post"
			th:object="${ode}">
			<table>
				<tr>
					<td><label>Grad:</label></td>
					<td><select th:field="*{order}">
							<option th:value="'1'" th:text="'1. Ordnung'"></option>
							<option th:value="'2'" th:text="'2. Ordnung'"></option>

					</select></td>
				</tr>
			
				<tr>
					<td><label>Algorithmus:</label></td>
					<td><select th:field="*{solver}">
							<option th:value="'EulerPolygonal'" th:text="'Euler Polygonzug'"></option>
							<option th:value="'RungeKutta2ndOrder'" th:text="'Runge-Kutta 2. Ordnung'"></option>
							<option th:value="'RungeKutta4ndOrder'" th:text="'Runge-Kutta 4. Ordnung'"></option>

					</select></td>
				</tr>
				
				<tr>
					<td><label>rechte Seite:</label></td>
					<td><textarea id="ode" rows="3" cols="25" th:field="*{ode}"></textarea>
					</td>
					
					<td th:if="${#fields.hasErrors('ode')}" th:errors="*{ode}" th:errorclass="error"></td>
				</tr>
				
				<tr>
					<td><label>y(0):</label></td>
					<td><input type="text" th:field="*{y}" /></td>
					<td th:if="${#fields.hasErrors('y')}" th:errors="*{y}" th:errorclass="error"></td>
				</tr>
				<tr>
					<td><label>y'(0):</label></td>
					<td><input type="text" th:field="*{yDerivative}" /></td>
					<td th:if="${#fields.hasErrors('yDerivative')}" th:errors="*{yDerivative}" th:errorclass="error"></td>
				</tr>
				
				<tr>
					<td><label>Start:</label></td>
					<td><input type="text" th:field="*{start}" /></td>
					<td th:if="${#fields.hasErrors('start')}" th:errors="*{start}" th:errorclass="error"></td>
				</tr>
				<tr>
					<td><label>Stop:</label></td>
					<td><input type="text" th:field="*{stop}" /></td>
						<td th:if="${#fields.hasErrors('stop')}" th:errors="*{stop}" th:errorclass="error"></td>
				</tr>

				<tr>
					<td><label>Schritte:</label></td>
					<td><input type="text" th:field="*{steps}" /></td>
					<td th:if="${#fields.hasErrors('steps')}" th:errors="*{steps}" th:errorclass="error"></td>
				</tr>

				<tr> 
					<th colspan="2">
					 <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" />
					</th>
				</tr>
				
				<tr>
					<th colspan="2">
						<button type="submit" name="validate">Validieren</button>
						<button type="submit" name="calculate">Berechnen</button>
					</th>
				</tr>
			</table>
		</form>

	</div>
</body>
</html>
